# MariaDB Configuration
MARIADB_ROOT_PASSWORD=rootsecret
MARIADB_DB=metalurgica_db
MARIADB_USER=mediciones
MARIADB_USER_PASS=secret
MARIADB_SERVER=mariadb

# MQTT Broker Configuration
SERVIDOR=mosquitto
PUERTO_MQTT=1883
PUERTO_MQTTS=8883
TOPICO=industrial/metalurgica/+/estado
MQTT_USR=
MQTT_PASS=

# Domain & Reverse Proxy Settings
DOMINIO=localhost
PUERTO=443
DUCKDNSTOKEN=your_duckdns_token

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8684338338:AAGSiGXsVvbAmkYqnL7X8wwlVnouglWU2mo
TELEGRAM_BOT_NAME=Kisiel_iot
TELEGRAM_BOT_USERNAME=Kisiel_iot_bot
ADMIN_PASSWORD=admin123
API_URL=http://apiiot:8000
